# inspired by https://github.com/alexkaratarakis/gitattributes
#
# list built using the following commands
# files WITH extensions
#   find . -type f -printf '%f\n' | grep -i "\." | sed 's|.*\.||' | grep -v -i "^\(db\|pkl\|pyc\|pyd\|pyo\|ai\|bmp\|eps\|gif\|ico\|jng\|jp2\|jpg\|jpeg\|jpx\|jxr\|pdf\|png\|psb\|psd\|svg\|graphml\|svgz\|tif\|tiff\|wbmp\|webp\|3gpp\|3gp\|as\|asf\|asx\|fla\|flv\|m4v\|mng\|mov\|mp4\|mpeg\|mpg\|ogv\|swc\|swf\|webm\|7z\|gz\|jar\|rar\|tar\|zip\|mo\|bcmap\|ttf\|eot\|otf\|woff\|woff2\|dat\|dll\|exe\|wav\|cer\|config\|content\|crt\|cscfg\|csdef\|cur\|DS_Store\|fic\|idx\|key\|ogg\|lci\|lib\|man\|metagen\|mui\|snk\|winmd\|xsd\|csplugin\|exp\|nupkg\|pack\|pdb\|pem\|pfx\|pub\|ps1xml\|sample\|assemblylookupcache\|psd1\|notyaml\|mp99\|out\|noci\)$" | sort | uniq
# files with NO extensions
#   find . -type f | grep -v "\.git" | sed 's|.*/||' | grep -v "\." | grep -v -i "font\|default_mdsd\|rsa\|10periodic\|20unattended-upgrade\|bash_profile\|browsermob-proxy\|go\-agent\-env\-vars\|ec2_\|mongodb_\|munin\-edx\|rds_local\|route53_2_1_1_0\|ssh_key_forward\|tag_environment_prod\|util_map\|vimrc\|vpc_lookup\|x11_display"  | sort | uniq

 ## Default
* text=auto

## Repo configurations
.*coveragerc*   text eol=crlf
.editorconfig   text eol=crlf
.gitattributes  text eol=crlf
.gitkeep        text eol=crlf
.*ignore*       text eol=crlf
.npmrc          text eol=crlf
*.tf            text eol=crlf
vim
gitconfig       text eol=crlf
inventory       text eol=crlf
pylintrc*       text eol=crlf

## Script
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.mk            text eol=crlf
*.patch         text eol=crlf
*.ps1           text eol=crlf
*.py            text eol=crlf
*.sh            text eol=crlf
Dockerfile      text eol=crlf
Makefile        text eol=crlf
makefile        text eol=crlf
Vagrantfile     text eol=crlf

## Code
*.c             text eol=crlf
*.groovy        text eol=crlf
*.php           text eol=crlf
*.sql           text eol=crlf

## Web
*.coffee        text eol=crlf
*.css           text eol=crlf
*.html*         text eol=crlf
*.less          text eol=crlf
*.scss          text eol=crlf

## Web Templates
*.mustache      text eol=crlf
*.underscore    text eol=crlf

## Settings, Data, and Declarative Scripts
*.cfg           text eol=crlf
*.cnf           text eol=crlf
*.conf          text eol=crlf
*.csv           text eol=crlf
*.diff          text eol=crlf
*.ini           text eol=crlf
*.j2            text eol=crlf
*.json          text eol=crlf
*.sjson         text eol=crlf
*.xml           text eol=crlf
*.XML           text eol=crlf
*.yaml          text eol=crlf
*.yml           text eol=crlf
config          text eol=crlf

## Documentation and Content
*.example       text eol=crlf
*.feature       text eol=crlf
*.log           text eol=crlf
*.md            text eol=crlf
*.plain         text eol=crlf
*.po            text eol=crlf
*.properties    text eol=crlf
*.rst           text eol=crlf
*.srt           text eol=crlf
*.txt*          text eol=crlf
*.TXT           text eol=crlf
*.vtt           text eol=crlf
AUTHORS         text eol=crlf
COPYING         text eol=crlf
LICENSE         text eol=crlf
README          text eol=crlf
